#randomUsersContainer {
  top: 475px;
  left: 50px;
  position: absolute;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  .person {
    text-align: center;
  }
}
